## Optimize the Model

Target Accuracy: 75%

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

## Preprocessing

In [3]:
# Modifying the feature columns

# drop columns
application_df = application_df.drop(columns=['EIN', 'NAME', 'AFFILIATION', 'SPECIAL_CONSIDERATIONS', 'ORGANIZATION', 'USE_CASE'])
application_df.head()

,APPLICATION_TYPE,CLASSIFICATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,1,0,5000,1
1,T3,C2000,1,1-9999,108590,1
2,T5,C3000,1,0,5000,0
3,T3,C2000,1,10000-24999,6692,1
4,T3,C1000,1,100000-499999,142590,1

In [4]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
CLASSIFICATION        71
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_counts[application_counts < 100].index # changed from 500 to 100

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 100].index # changed from 1000 to 100

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [10]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,CLASSIFICATION_Other,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [11]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values # target
X = application_df.drop(columns='IS_SUCCESSFUL').values # features

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [13]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train, and Evaluate the Model

In [14]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = X_train.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_dim))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                2720

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 15)                465

 dense_3 (Dense)             (None, 1)                 16

=================================================================
Total params: 5631 (22.00 KB)
Trainable params: 5631 (22.00 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [15]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
# Create a callback that saves the model's weights every five epochs
callback_path = "AlphabetSoupCharityCallbacks_Optimized.h5"
checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath = callback_path,
    save_weights_only = True,
    monitor = "val_loss",
    verbose = 1,
    save_freq = 'epoch',
    period = 5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [17]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint_callback])

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6386 - accuracy: 0.6213
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6320 - accuracy: 0.6262
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6309 - accuracy: 0.6264
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6307 - accuracy: 0.6262
Epoch 5/100
792/804 [============================>.] - ETA: 0s - loss: 0.6300 - accuracy: 0.6285
Epoch 5: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6298 - accuracy: 0.6289
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6294 - accuracy: 0.6281
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6292 - accuracy: 0.6281
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6292 - accuracy: 0.6298
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6291 - accuracy: 0.6279
Epoch 10/100
785/804 [============================>.] - ETA: 0s - loss: 0.6288 - accuracy: 0.6294
Epoch 10: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6288 - accuracy: 0.6293
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6289 - accuracy: 0.6282
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6282 - accuracy: 0.6277
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6282 - accuracy: 0.6300
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6285 - accuracy: 0.6279
Epoch 15/100
786/804 [============================>.] - ETA: 0s - loss: 0.6282 - accuracy: 0.6283
Epoch 15: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6282 - accuracy: 0.6288
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6280 - accuracy: 0.6274
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6280 - accuracy: 0.6295
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6278 - accuracy: 0.6298
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6279 - accuracy: 0.6300
Epoch 20/100
797/804 [============================>.] - ETA: 0s - loss: 0.6276 - accuracy: 0.6294
Epoch 20: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.6276 - accuracy: 0.6292
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6273 - accuracy: 0.6290
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6276 - accuracy: 0.6295
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6276 - accuracy: 0.6293
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6274 - accuracy: 0.6276
Epoch 25/100
771/804 [===========================>..] - ETA: 0s - loss: 0.6274 - accuracy: 0.6306
Epoch 25: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.6278 - accuracy: 0.6295
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6275 - accuracy: 0.6295
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6274 - accuracy: 0.6297
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6272 - accuracy: 0.6296
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6273 - accuracy: 0.6271
Epoch 30/100
796/804 [============================>.] - ETA: 0s - loss: 0.6273 - accuracy: 0.6290
Epoch 30: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.6271 - accuracy: 0.6290
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6272 - accuracy: 0.6291
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6268 - accuracy: 0.6283
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6268 - accuracy: 0.6288
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6270 - accuracy: 0.6285
Epoch 35/100
770/804 [===========================>..] - ETA: 0s - loss: 0.6270 - accuracy: 0.6273
Epoch 35: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.6269 - accuracy: 0.6279
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6270 - accuracy: 0.6310
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6270 - accuracy: 0.6295
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6269 - accuracy: 0.6287
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6269 - accuracy: 0.6305
Epoch 40/100
784/804 [============================>.] - ETA: 0s - loss: 0.6269 - accuracy: 0.6294
Epoch 40: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6269 - accuracy: 0.6295
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6267 - accuracy: 0.6291
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6267 - accuracy: 0.6292
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6268 - accuracy: 0.6293
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6267 - accuracy: 0.6288
Epoch 45/100
778/804 [============================>.] - ETA: 0s - loss: 0.6262 - accuracy: 0.6305
Epoch 45: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6265 - accuracy: 0.6299
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6262 - accuracy: 0.6302
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6267 - accuracy: 0.6302
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6266 - accuracy: 0.6272
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6267 - accuracy: 0.6301
Epoch 50/100
795/804 [============================>.] - ETA: 0s - loss: 0.6265 - accuracy: 0.6295
Epoch 50: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6263 - accuracy: 0.6298
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6265 - accuracy: 0.6301
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6264 - accuracy: 0.6301
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6264 - accuracy: 0.6284
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6265 - accuracy: 0.6284
Epoch 55/100
795/804 [============================>.] - ETA: 0s - loss: 0.6259 - accuracy: 0.6296
Epoch 55: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6264 - accuracy: 0.6292
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6260 - accuracy: 0.6288
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6264 - accuracy: 0.6303
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6265 - accuracy: 0.6300
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6261 - accuracy: 0.6290
Epoch 60/100
790/804 [============================>.] - ETA: 0s - loss: 0.6261 - accuracy: 0.6274
Epoch 60: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6260 - accuracy: 0.6278
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6260 - accuracy: 0.6283
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6264 - accuracy: 0.6300
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6263 - accuracy: 0.6290
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6262 - accuracy: 0.6282
Epoch 65/100
794/804 [============================>.] - ETA: 0s - loss: 0.6259 - accuracy: 0.6313
Epoch 65: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.6260 - accuracy: 0.6310
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6263 - accuracy: 0.6286
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6263 - accuracy: 0.6296
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6258 - accuracy: 0.6280
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6263 - accuracy: 0.6282
Epoch 70/100
800/804 [============================>.] - ETA: 0s - loss: 0.6262 - accuracy: 0.6288
Epoch 70: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6262 - accuracy: 0.6287
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6261 - accuracy: 0.6281
Epoch 72/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6260 - accuracy: 0.6294
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6260 - accuracy: 0.6297
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6260 - accuracy: 0.6300
Epoch 75/100
804/804 [==============================] - ETA: 0s - loss: 0.6258 - accuracy: 0.6300
Epoch 75: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6258 - accuracy: 0.6300
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6260 - accuracy: 0.6304
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6258 - accuracy: 0.6305
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6260 - accuracy: 0.6303
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6258 - accuracy: 0.6309
Epoch 80/100
783/804 [============================>.] - ETA: 0s - loss: 0.6258 - accuracy: 0.6295
Epoch 80: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6260 - accuracy: 0.6293
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6259 - accuracy: 0.6313
Epoch 82/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6259 - accuracy: 0.6293
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6259 - accuracy: 0.6291
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6259 - accuracy: 0.6279
Epoch 85/100
798/804 [============================>.] - ETA: 0s - loss: 0.6258 - accuracy: 0.6295
Epoch 85: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6259 - accuracy: 0.6294
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6258 - accuracy: 0.6287
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6256 - accuracy: 0.6304
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6258 - accuracy: 0.6293
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6259 - accuracy: 0.6290
Epoch 90/100
804/804 [==============================] - ETA: 0s - loss: 0.6257 - accuracy: 0.6272
Epoch 90: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6257 - accuracy: 0.6272
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6258 - accuracy: 0.6274
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6254 - accuracy: 0.6313
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6255 - accuracy: 0.6283
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6257 - accuracy: 0.6297
Epoch 95/100
791/804 [============================>.] - ETA: 0s - loss: 0.6257 - accuracy: 0.6294
Epoch 95: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6257 - accuracy: 0.6295
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6259 - accuracy: 0.6286
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6257 - accuracy: 0.6283
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6256 - accuracy: 0.6300
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6255 - accuracy: 0.6307
Epoch 100/100
788/804 [============================>.] - ETA: 0s - loss: 0.6249 - accuracy: 0.6284
Epoch 100: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6256 - accuracy: 0.6281

In [18]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6340 - accuracy: 0.6292 - 645ms/epoch - 2ms/step
Loss: 0.6340340375900269, Accuracy: 0.6291545033454895

# Reoptimizing the model

In [19]:
# reimport the data
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [20]:
# drop columns
application_df = application_df.drop(columns=['EIN', 'NAME', 'AFFILIATION'])
application_df.head()

,APPLICATION_TYPE,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [22]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [23]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_counts[application_counts < 100].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [24]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [25]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [26]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 50].index # changed from 100 to 50

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      391
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
Name: CLASSIFICATION, dtype: int64

In [27]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [28]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [29]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile and Train the Model

In [30]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = X_train.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_dim))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=15, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 80)                3920

 dense_5 (Dense)             (None, 30)                2430

 dense_6 (Dense)             (None, 15)                465

 dense_7 (Dense)             (None, 1)                 16

=================================================================
Total params: 6831 (26.68 KB)
Trainable params: 6831 (26.68 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [31]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [32]:
# Create a callback that saves the model's weights every five epochs
callback_path = "AlphabetSoupCharityCallbacks_Optimized.h5"
checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath = callback_path,
    save_weights_only = True,
    monitor = "val_loss",
    verbose = 1,
    save_freq = 'epoch',
    period = 5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [33]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint_callback])

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6230 - accuracy: 0.6445
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6098 - accuracy: 0.6538
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6070 - accuracy: 0.6562
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6057 - accuracy: 0.6583
Epoch 5/100
798/804 [============================>.] - ETA: 0s - loss: 0.6040 - accuracy: 0.6571
Epoch 5: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6039 - accuracy: 0.6574
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6032 - accuracy: 0.6596
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6033 - accuracy: 0.6589
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6024 - accuracy: 0.6593
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6017 - accuracy: 0.6610
Epoch 10/100
772/804 [===========================>..] - ETA: 0s - loss: 0.6021 - accuracy: 0.6590
Epoch 10: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6009 - accuracy: 0.6600
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6004 - accuracy: 0.6604
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6001 - accuracy: 0.6600
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5996 - accuracy: 0.6604
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5993 - accuracy: 0.6606
Epoch 15/100
776/804 [===========================>..] - ETA: 0s - loss: 0.5994 - accuracy: 0.6612
Epoch 15: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.5998 - accuracy: 0.6609
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5987 - accuracy: 0.6611
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5987 - accuracy: 0.6619
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5987 - accuracy: 0.6611
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5980 - accuracy: 0.6618
Epoch 20/100
801/804 [============================>.] - ETA: 0s - loss: 0.5983 - accuracy: 0.6626
Epoch 20: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.5983 - accuracy: 0.6625
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5977 - accuracy: 0.6625
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5978 - accuracy: 0.6619
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5980 - accuracy: 0.6620
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5969 - accuracy: 0.6624
Epoch 25/100
782/804 [============================>.] - ETA: 0s - loss: 0.5978 - accuracy: 0.6622
Epoch 25: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5972 - accuracy: 0.6616
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5973 - accuracy: 0.6629
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5969 - accuracy: 0.6629
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5966 - accuracy: 0.6624
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5969 - accuracy: 0.6609
Epoch 30/100
789/804 [============================>.] - ETA: 0s - loss: 0.5957 - accuracy: 0.6633
Epoch 30: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.5962 - accuracy: 0.6626
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5963 - accuracy: 0.6623
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5963 - accuracy: 0.6631
Epoch 33/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5964 - accuracy: 0.6620
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5963 - accuracy: 0.6620
Epoch 35/100
789/804 [============================>.] - ETA: 0s - loss: 0.5960 - accuracy: 0.6639
Epoch 35: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.5964 - accuracy: 0.6636
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5958 - accuracy: 0.6626
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5959 - accuracy: 0.6642
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5957 - accuracy: 0.6632
Epoch 39/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5955 - accuracy: 0.6634
Epoch 40/100
784/804 [============================>.] - ETA: 0s - loss: 0.5948 - accuracy: 0.6635
Epoch 40: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.5950 - accuracy: 0.6630
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5948 - accuracy: 0.6650
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5954 - accuracy: 0.6631
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5950 - accuracy: 0.6624
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5951 - accuracy: 0.6635
Epoch 45/100
788/804 [============================>.] - ETA: 0s - loss: 0.5947 - accuracy: 0.6644
Epoch 45: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.5946 - accuracy: 0.6637
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5949 - accuracy: 0.6640
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5948 - accuracy: 0.6640
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5943 - accuracy: 0.6637
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5944 - accuracy: 0.6635
Epoch 50/100
798/804 [============================>.] - ETA: 0s - loss: 0.5947 - accuracy: 0.6622
Epoch 50: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.5945 - accuracy: 0.6625
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5942 - accuracy: 0.6639
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5943 - accuracy: 0.6640
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5938 - accuracy: 0.6648
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5938 - accuracy: 0.6639
Epoch 55/100
779/804 [============================>.] - ETA: 0s - loss: 0.5939 - accuracy: 0.6632
Epoch 55: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.5936 - accuracy: 0.6637
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5941 - accuracy: 0.6635
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5934 - accuracy: 0.6646
Epoch 58/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5934 - accuracy: 0.6647
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5937 - accuracy: 0.6638
Epoch 60/100
792/804 [============================>.] - ETA: 0s - loss: 0.5926 - accuracy: 0.6646
Epoch 60: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5935 - accuracy: 0.6637
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5936 - accuracy: 0.6636
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5933 - accuracy: 0.6644
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5938 - accuracy: 0.6636
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5930 - accuracy: 0.6643
Epoch 65/100
801/804 [============================>.] - ETA: 0s - loss: 0.5930 - accuracy: 0.6636
Epoch 65: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.5930 - accuracy: 0.6636
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5929 - accuracy: 0.6650
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5932 - accuracy: 0.6647
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5926 - accuracy: 0.6647
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5933 - accuracy: 0.6639
Epoch 70/100
788/804 [============================>.] - ETA: 0s - loss: 0.5937 - accuracy: 0.6630
Epoch 70: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.5929 - accuracy: 0.6639
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5929 - accuracy: 0.6643
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5926 - accuracy: 0.6645
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5928 - accuracy: 0.6645
Epoch 74/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5928 - accuracy: 0.6648
Epoch 75/100
796/804 [============================>.] - ETA: 0s - loss: 0.5923 - accuracy: 0.6644
Epoch 75: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.5923 - accuracy: 0.6646
Epoch 76/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5926 - accuracy: 0.6653
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5926 - accuracy: 0.6643
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5923 - accuracy: 0.6654
Epoch 79/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5925 - accuracy: 0.6652
Epoch 80/100
778/804 [============================>.] - ETA: 0s - loss: 0.5922 - accuracy: 0.6653
Epoch 80: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5924 - accuracy: 0.6647
Epoch 81/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5921 - accuracy: 0.6646
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5922 - accuracy: 0.6652
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5923 - accuracy: 0.6649
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5924 - accuracy: 0.6653
Epoch 85/100
796/804 [============================>.] - ETA: 0s - loss: 0.5928 - accuracy: 0.6651
Epoch 85: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.5926 - accuracy: 0.6654
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5917 - accuracy: 0.6644
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5920 - accuracy: 0.6651
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5918 - accuracy: 0.6652
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5918 - accuracy: 0.6651
Epoch 90/100
786/804 [============================>.] - ETA: 0s - loss: 0.5919 - accuracy: 0.6645
Epoch 90: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 1ms/step - loss: 0.5919 - accuracy: 0.6645
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5917 - accuracy: 0.6650
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5917 - accuracy: 0.6659
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5915 - accuracy: 0.6651
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5915 - accuracy: 0.6643
Epoch 95/100
786/804 [============================>.] - ETA: 0s - loss: 0.5923 - accuracy: 0.6650
Epoch 95: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5919 - accuracy: 0.6651
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5911 - accuracy: 0.6653
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5916 - accuracy: 0.6654
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5912 - accuracy: 0.6658
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5916 - accuracy: 0.6649
Epoch 100/100
783/804 [============================>.] - ETA: 0s - loss: 0.5913 - accuracy: 0.6660
Epoch 100: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.5917 - accuracy: 0.6655

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.6184 - accuracy: 0.6597 - 359ms/epoch - 1ms/step
Loss: 0.6184231042861938, Accuracy: 0.6597084403038025

Reoptimizing

In [35]:
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [36]:
# drop columns
application_df = application_df.drop(columns=['EIN', 'NAME', 'AFFILIATION', 'SPECIAL_CONSIDERATIONS', 'ORGANIZATION', 'USE_CASE'])
application_df.head()

,APPLICATION_TYPE,CLASSIFICATION,STATUS,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,T10,C1000,1,0,5000,1
1,T3,C2000,1,1-9999,108590,1
2,T5,C3000,1,0,5000,0
3,T3,C2000,1,10000-24999,6692,1
4,T3,C1000,1,100000-499999,142590,1

In [37]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
CLASSIFICATION        71
STATUS                 2
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [38]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [39]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_counts[application_counts < 500].index # changed from 100 to 500

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [41]:
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [42]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 1000].index # changed from 100 to 1000

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [43]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,CLASSIFICATION_Other,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,1,108590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,1,0,0,0,0,0,0,0,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [44]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values # target
X = application_df.drop(columns='IS_SUCCESSFUL').values # features

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [45]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train, Eval

In [46]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = X_train.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_dim))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_8 (Dense)             (None, 80)                2160

 dense_9 (Dense)             (None, 30)                2430

 dense_10 (Dense)            (None, 1)                 31

=================================================================
Total params: 4621 (18.05 KB)
Trainable params: 4621 (18.05 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [47]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [48]:
# Create a callback that saves the model's weights every five epochs
callback_path = "AlphabetSoupCharityCallbacks_Optimized.h5"
checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath = callback_path,
    save_weights_only = True,
    monitor = "val_loss",
    verbose = 1,
    save_freq = 'epoch',
    period = 5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [49]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint_callback])

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6453 - accuracy: 0.6156
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6396 - accuracy: 0.6229
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6377 - accuracy: 0.6247
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6368 - accuracy: 0.6227
Epoch 5/100
783/804 [============================>.] - ETA: 0s - loss: 0.6365 - accuracy: 0.6246
Epoch 5: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6367 - accuracy: 0.6233
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6368 - accuracy: 0.6247
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6356 - accuracy: 0.6255
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6360 - accuracy: 0.6238
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6353 - accuracy: 0.6254
Epoch 10/100
791/804 [============================>.] - ETA: 0s - loss: 0.6344 - accuracy: 0.6269
Epoch 10: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6347 - accuracy: 0.6265
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6348 - accuracy: 0.6249
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6346 - accuracy: 0.6258
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6346 - accuracy: 0.6254
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6348 - accuracy: 0.6278
Epoch 15/100
804/804 [==============================] - ETA: 0s - loss: 0.6346 - accuracy: 0.6265
Epoch 15: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 3ms/step - loss: 0.6346 - accuracy: 0.6265
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6345 - accuracy: 0.6238
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6343 - accuracy: 0.6261
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6344 - accuracy: 0.6246
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6338 - accuracy: 0.6276
Epoch 20/100
784/804 [============================>.] - ETA: 0s - loss: 0.6339 - accuracy: 0.6255
Epoch 20: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6340 - accuracy: 0.6252
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6341 - accuracy: 0.6272
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6340 - accuracy: 0.6264
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6338 - accuracy: 0.6266
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6338 - accuracy: 0.6249
Epoch 25/100
793/804 [============================>.] - ETA: 0s - loss: 0.6338 - accuracy: 0.6242
Epoch 25: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6337 - accuracy: 0.6242
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6338 - accuracy: 0.6224
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6340 - accuracy: 0.6250
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6335 - accuracy: 0.6252
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6336 - accuracy: 0.6245
Epoch 30/100
786/804 [============================>.] - ETA: 0s - loss: 0.6337 - accuracy: 0.6251
Epoch 30: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6337 - accuracy: 0.6254
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6336 - accuracy: 0.6246
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6337 - accuracy: 0.6254
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6336 - accuracy: 0.6246
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6331 - accuracy: 0.6261
Epoch 35/100
777/804 [===========================>..] - ETA: 0s - loss: 0.6333 - accuracy: 0.6245
Epoch 35: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6334 - accuracy: 0.6244
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6335 - accuracy: 0.6253
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6334 - accuracy: 0.6257
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6332 - accuracy: 0.6258
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6333 - accuracy: 0.6257
Epoch 40/100
784/804 [============================>.] - ETA: 0s - loss: 0.6333 - accuracy: 0.6256
Epoch 40: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6332 - accuracy: 0.6254
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.6331 - accuracy: 0.6265
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6333 - accuracy: 0.6259
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6331 - accuracy: 0.6253
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6333 - accuracy: 0.6253
Epoch 45/100
778/804 [============================>.] - ETA: 0s - loss: 0.6336 - accuracy: 0.6256
Epoch 45: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6333 - accuracy: 0.6257
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6330 - accuracy: 0.6264
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6332 - accuracy: 0.6272
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6329 - accuracy: 0.6262
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6333 - accuracy: 0.6261
Epoch 50/100
799/804 [============================>.] - ETA: 0s - loss: 0.6330 - accuracy: 0.6246
Epoch 50: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6330 - accuracy: 0.6244
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6329 - accuracy: 0.6252
Epoch 52/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6329 - accuracy: 0.6248
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6332 - accuracy: 0.6274
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6330 - accuracy: 0.6267
Epoch 55/100
783/804 [============================>.] - ETA: 0s - loss: 0.6328 - accuracy: 0.6269
Epoch 55: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6329 - accuracy: 0.6266
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6329 - accuracy: 0.6275
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6329 - accuracy: 0.6268
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6328 - accuracy: 0.6256
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6328 - accuracy: 0.6278
Epoch 60/100
802/804 [============================>.] - ETA: 0s - loss: 0.6327 - accuracy: 0.6277
Epoch 60: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6328 - accuracy: 0.6275
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6328 - accuracy: 0.6258
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6328 - accuracy: 0.6258
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6328 - accuracy: 0.6288
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6327 - accuracy: 0.6239
Epoch 65/100
779/804 [============================>.] - ETA: 0s - loss: 0.6324 - accuracy: 0.6262
Epoch 65: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6328 - accuracy: 0.6260
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6328 - accuracy: 0.6274
Epoch 67/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6325 - accuracy: 0.6253
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6328 - accuracy: 0.6270
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6326 - accuracy: 0.6279
Epoch 70/100
794/804 [============================>.] - ETA: 0s - loss: 0.6320 - accuracy: 0.6296
Epoch 70: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6324 - accuracy: 0.6289
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6328 - accuracy: 0.6249
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6327 - accuracy: 0.6252
Epoch 73/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6326 - accuracy: 0.6284
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6326 - accuracy: 0.6258
Epoch 75/100
793/804 [============================>.] - ETA: 0s - loss: 0.6326 - accuracy: 0.6263
Epoch 75: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 1s 2ms/step - loss: 0.6326 - accuracy: 0.6268
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6335 - accuracy: 0.6240
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6327 - accuracy: 0.6277
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6326 - accuracy: 0.6277
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6326 - accuracy: 0.6265
Epoch 80/100
778/804 [============================>.] - ETA: 0s - loss: 0.6333 - accuracy: 0.6255
Epoch 80: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6328 - accuracy: 0.6262
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6326 - accuracy: 0.6262
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6326 - accuracy: 0.6262
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6326 - accuracy: 0.6274
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6324 - accuracy: 0.6249
Epoch 85/100
802/804 [============================>.] - ETA: 0s - loss: 0.6322 - accuracy: 0.6268
Epoch 85: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6325 - accuracy: 0.6263
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6324 - accuracy: 0.6286
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6324 - accuracy: 0.6253
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6322 - accuracy: 0.6282
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.6326 - accuracy: 0.6260
Epoch 90/100
784/804 [============================>.] - ETA: 0s - loss: 0.6324 - accuracy: 0.6272
Epoch 90: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6323 - accuracy: 0.6273
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6326 - accuracy: 0.6260
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6325 - accuracy: 0.6255
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6324 - accuracy: 0.6255
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6324 - accuracy: 0.6272
Epoch 95/100
795/804 [============================>.] - ETA: 0s - loss: 0.6323 - accuracy: 0.6263
Epoch 95: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6325 - accuracy: 0.6257
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6324 - accuracy: 0.6277
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6321 - accuracy: 0.6268
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6324 - accuracy: 0.6272
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.6323 - accuracy: 0.6269
Epoch 100/100
785/804 [============================>.] - ETA: 0s - loss: 0.6321 - accuracy: 0.6257
Epoch 100: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 2s 2ms/step - loss: 0.6322 - accuracy: 0.6261

In [50]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.6395 - accuracy: 0.6289 - 503ms/epoch - 2ms/step
Loss: 0.639518678188324, Accuracy: 0.6289212703704834

## Reoptimization

In [51]:
# reimport the data
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [52]:
# Determine the number of unique values in each column.
application_df.nunique()

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [54]:
application_df.shape

(34299, 12)

In [55]:
# drop columns
application_df = application_df.drop(columns=['EIN'])
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [56]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [57]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_counts[application_counts < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [58]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [59]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_counts[classification_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [60]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification_counts[classification_counts < 1000].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [61]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_1 DAY RANCH RESCUE AND RURAL OKLAHOMA ANIMAL RESOURCE INC,NAME_100 BLACK MEN OF AMERICA,NAME_100 BLACK MEN OF MEMPHIS INC,NAME_100 BLACK MEN OF WEST GEORGIA INC,NAME_1150 WEBSTER STREET INC,NAME_116TH CAVALRY REGIMENT CHAPTER OF THE US CAVALRY & ARMOR ASSOCIATION,NAME_13TH BOMB SQUADRON ASSOCIATION,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [62]:
# Split our preprocessed data into our features and target arrays
y = application_df['IS_SUCCESSFUL'].values
X = application_df.drop(columns='IS_SUCCESSFUL').values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [63]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train, Eval

In [64]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = X_train.shape[1]

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, activation='relu', input_dim=input_dim))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_11 (Dense)            (None, 80)                1568960

 dense_12 (Dense)            (None, 30)                2430

 dense_13 (Dense)            (None, 1)                 31

=================================================================
Total params: 1571421 (5.99 MB)
Trainable params: 1571421 (5.99 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [65]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [66]:
# Create a callback that saves the model's weights every five epochs
callback_path = "AlphabetSoupCharityCallbacks_Optimized.h5"
checkpoint_callback = tf.keras.callbacks.ModelCheckpoint(
    filepath = callback_path,
    save_weights_only = True,
    monitor = "val_loss",
    verbose = 1,
    save_freq = 'epoch',
    period = 5
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [67]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[checkpoint_callback])

Epoch 1/100
804/804 [==============================] - 16s 19ms/step - loss: 0.4895 - accuracy: 0.7608
Epoch 2/100
804/804 [==============================] - 14s 17ms/step - loss: 0.1267 - accuracy: 0.9544
Epoch 3/100
804/804 [==============================] - 14s 18ms/step - loss: 0.0985 - accuracy: 0.9607
Epoch 4/100
804/804 [==============================] - 15s 18ms/step - loss: 0.0954 - accuracy: 0.9611
Epoch 5/100
803/804 [============================>.] - ETA: 0s - loss: 0.0933 - accuracy: 0.9612
Epoch 5: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 14s 18ms/step - loss: 0.0933 - accuracy: 0.9612
Epoch 6/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0921 - accuracy: 0.9623
Epoch 7/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0917 - accuracy: 0.9622
Epoch 8/100
804/804 [==============================] - 14s 18ms/step - loss: 0.0908 - accuracy: 0.9623
Epoch 9/100
804/804 [==============================] - 14s 18ms/step - loss: 0.0902 - accuracy: 0.9627
Epoch 10/100
803/804 [============================>.] - ETA: 0s - loss: 0.0897 - accuracy: 0.9629
Epoch 10: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 15s 18ms/step - loss: 0.0897 - accuracy: 0.9629
Epoch 11/100
804/804 [==============================] - 15s 18ms/step - loss: 0.0891 - accuracy: 0.9628
Epoch 12/100
804/804 [==============================] - 14s 17ms/step - loss: 0.0882 - accuracy: 0.9639
Epoch 13/100
804/804 [==============================] - 15s 18ms/step - loss: 0.0883 - accuracy: 0.9634
Epoch 14/100
804/804 [==============================] - 14s 18ms/step - loss: 0.0879 - accuracy: 0.9636
Epoch 15/100
802/804 [============================>.] - ETA: 0s - loss: 0.0871 - accuracy: 0.9642
Epoch 15: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 15s 19ms/step - loss: 0.0871 - accuracy: 0.9642
Epoch 16/100
804/804 [==============================] - 15s 18ms/step - loss: 0.0866 - accuracy: 0.9644
Epoch 17/100
804/804 [==============================] - 14s 18ms/step - loss: 0.0864 - accuracy: 0.9643
Epoch 18/100
804/804 [==============================] - 14s 18ms/step - loss: 0.0864 - accuracy: 0.9647
Epoch 19/100
804/804 [==============================] - 14s 18ms/step - loss: 0.0857 - accuracy: 0.9650
Epoch 20/100
804/804 [==============================] - ETA: 0s - loss: 0.0850 - accuracy: 0.9651
Epoch 20: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 15s 19ms/step - loss: 0.0850 - accuracy: 0.9651
Epoch 21/100
804/804 [==============================] - 15s 18ms/step - loss: 0.0852 - accuracy: 0.9648
Epoch 22/100
804/804 [==============================] - 14s 18ms/step - loss: 0.0844 - accuracy: 0.9651
Epoch 23/100
804/804 [==============================] - 14s 18ms/step - loss: 0.0840 - accuracy: 0.9652
Epoch 24/100
804/804 [==============================] - 14s 18ms/step - loss: 0.0837 - accuracy: 0.9656
Epoch 25/100
802/804 [============================>.] - ETA: 0s - loss: 0.0837 - accuracy: 0.9658
Epoch 25: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0836 - accuracy: 0.9659
Epoch 26/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0832 - accuracy: 0.9657
Epoch 27/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0829 - accuracy: 0.9658
Epoch 28/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0825 - accuracy: 0.9663
Epoch 29/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0823 - accuracy: 0.9659
Epoch 30/100
804/804 [==============================] - ETA: 0s - loss: 0.0821 - accuracy: 0.9661
Epoch 30: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0821 - accuracy: 0.9661
Epoch 31/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0818 - accuracy: 0.9663
Epoch 32/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0817 - accuracy: 0.9663
Epoch 33/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0811 - accuracy: 0.9668
Epoch 34/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0810 - accuracy: 0.9669
Epoch 35/100
803/804 [============================>.] - ETA: 0s - loss: 0.0808 - accuracy: 0.9668
Epoch 35: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0807 - accuracy: 0.9669
Epoch 36/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0808 - accuracy: 0.9664
Epoch 37/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0803 - accuracy: 0.9675
Epoch 38/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0801 - accuracy: 0.9669
Epoch 39/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0801 - accuracy: 0.9673
Epoch 40/100
803/804 [============================>.] - ETA: 0s - loss: 0.0800 - accuracy: 0.9670
Epoch 40: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0800 - accuracy: 0.9670
Epoch 41/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0799 - accuracy: 0.9674
Epoch 42/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0794 - accuracy: 0.9670
Epoch 43/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0794 - accuracy: 0.9672
Epoch 44/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0790 - accuracy: 0.9675
Epoch 45/100
803/804 [============================>.] - ETA: 0s - loss: 0.0794 - accuracy: 0.9669
Epoch 45: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0796 - accuracy: 0.9668
Epoch 46/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0788 - accuracy: 0.9676
Epoch 47/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0785 - accuracy: 0.9679
Epoch 48/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0784 - accuracy: 0.9674
Epoch 49/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0780 - accuracy: 0.9677
Epoch 50/100
804/804 [==============================] - ETA: 0s - loss: 0.0783 - accuracy: 0.9674
Epoch 50: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0783 - accuracy: 0.9674
Epoch 51/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0784 - accuracy: 0.9677
Epoch 52/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0784 - accuracy: 0.9677
Epoch 53/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0780 - accuracy: 0.9681
Epoch 54/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0779 - accuracy: 0.9679
Epoch 55/100
802/804 [============================>.] - ETA: 0s - loss: 0.0777 - accuracy: 0.9673
Epoch 55: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0776 - accuracy: 0.9674
Epoch 56/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0782 - accuracy: 0.9684
Epoch 57/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0777 - accuracy: 0.9676
Epoch 58/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0773 - accuracy: 0.9680
Epoch 59/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0777 - accuracy: 0.9679
Epoch 60/100
803/804 [============================>.] - ETA: 0s - loss: 0.0774 - accuracy: 0.9681
Epoch 60: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0774 - accuracy: 0.9681
Epoch 61/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0782 - accuracy: 0.9682
Epoch 62/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0773 - accuracy: 0.9684
Epoch 63/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0771 - accuracy: 0.9682
Epoch 64/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0769 - accuracy: 0.9685
Epoch 65/100
804/804 [==============================] - ETA: 0s - loss: 0.0769 - accuracy: 0.9685
Epoch 65: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0769 - accuracy: 0.9685
Epoch 66/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0771 - accuracy: 0.9680
Epoch 67/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0770 - accuracy: 0.9679
Epoch 68/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0768 - accuracy: 0.9680
Epoch 69/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0769 - accuracy: 0.9684
Epoch 70/100
804/804 [==============================] - ETA: 0s - loss: 0.0767 - accuracy: 0.9685
Epoch 70: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0767 - accuracy: 0.9685
Epoch 71/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0768 - accuracy: 0.9684
Epoch 72/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0766 - accuracy: 0.9683
Epoch 73/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0769 - accuracy: 0.9682
Epoch 74/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0766 - accuracy: 0.9683
Epoch 75/100
803/804 [============================>.] - ETA: 0s - loss: 0.0764 - accuracy: 0.9685
Epoch 75: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0765 - accuracy: 0.9685
Epoch 76/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0767 - accuracy: 0.9680
Epoch 77/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0766 - accuracy: 0.9682
Epoch 78/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0762 - accuracy: 0.9685
Epoch 79/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0763 - accuracy: 0.9686
Epoch 80/100
802/804 [============================>.] - ETA: 0s - loss: 0.0767 - accuracy: 0.9684
Epoch 80: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0766 - accuracy: 0.9684
Epoch 81/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0760 - accuracy: 0.9684
Epoch 82/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0761 - accuracy: 0.9686
Epoch 83/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0759 - accuracy: 0.9687
Epoch 84/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0761 - accuracy: 0.9686
Epoch 85/100
803/804 [============================>.] - ETA: 0s - loss: 0.0764 - accuracy: 0.9681
Epoch 85: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0764 - accuracy: 0.9681
Epoch 86/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0757 - accuracy: 0.9684
Epoch 87/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0759 - accuracy: 0.9686
Epoch 88/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0761 - accuracy: 0.9685
Epoch 89/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0759 - accuracy: 0.9687
Epoch 90/100
803/804 [============================>.] - ETA: 0s - loss: 0.0760 - accuracy: 0.9689
Epoch 90: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0760 - accuracy: 0.9689
Epoch 91/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0759 - accuracy: 0.9682
Epoch 92/100
804/804 [==============================] - 16s 19ms/step - loss: 0.0757 - accuracy: 0.9687
Epoch 93/100
804/804 [==============================] - 18s 22ms/step - loss: 0.0756 - accuracy: 0.9684
Epoch 94/100
804/804 [==============================] - 21s 27ms/step - loss: 0.0757 - accuracy: 0.9686
Epoch 95/100
803/804 [============================>.] - ETA: 0s - loss: 0.0762 - accuracy: 0.9684
Epoch 95: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 18s 23ms/step - loss: 0.0763 - accuracy: 0.9684
Epoch 96/100
804/804 [==============================] - 17s 21ms/step - loss: 0.0759 - accuracy: 0.9682
Epoch 97/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0760 - accuracy: 0.9685
Epoch 98/100
804/804 [==============================] - 16s 20ms/step - loss: 0.0754 - accuracy: 0.9686
Epoch 99/100
804/804 [==============================] - 15s 19ms/step - loss: 0.0756 - accuracy: 0.9690
Epoch 100/100
802/804 [============================>.] - ETA: 0s - loss: 0.0757 - accuracy: 0.9682
Epoch 100: saving model to AlphabetSoupCharityCallbacks_Optimized.h5
804/804 [==============================] - 16s 20ms/step - loss: 0.0756 - accuracy: 0.9683

In [68]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.8236 - accuracy: 0.6803 - 998ms/epoch - 4ms/step
Loss: 0.8236281871795654, Accuracy: 0.6803498268127441